<%- include('partials/header') %>

<div id="content">
    
    <form action="/results">
        <%- include('partials/selection') %>

        <button>Get Price</button>
        <br><br><br>
    </form>
</div>

<%- include('partials/footer') %>