
body {
	border: 15px solid #b3bcbc;
	width: 60%;
	max-width: 700px;
	margin-left: 20%;
	margin-right: 20%;
	font-family: source sans pro;
}

div {
	/*gives margin between all text and big border. Entire
	text is inside a div*/
	margin: 15px;
}
/*body goes about 50% across the screen
body is centered*/
/*color body med grey*/
/*font: source sans pro*/
/*remainder paragraph line up with left border*/

.date {
	color: #7cb3ff;
	/*all caps*/
	text-transform: uppercase;
	/*adds x amount of space between letters*/
	letter-spacing: 0.2rem;
	font-size: 14px;
	font-weight: 500;
}
/*date color med blue*/
/*date all caps*/
/*date has letter spacing*/

h1 {
	color: #4e5151;
	/*first letter capital*/
	text-transform: capitalize;
	font-size: 2.0rem;
}
/*article h2 header dark grey*/


/*all paragraph EXCEPT w/ class "date"*/
p:not(.date) {
	font-size: 13px;
	font-weight: 500;
	/*added for block text alignment*/
	text-align: justify;
}
.pgh1 {
	border-left: 5px solid #b3bcbc;
	padding-left: 4px;
}

/*this is the page break*/
hr {
	display: block; 
	content: ""; 
	height: 20px; 
	margin-top: 10px; 
	border-style: solid; 
	border-color: #8c8b8b; 
	border-width: 1px 0 0 0; 
	border-radius: 10px;
/*breaker between article - hr element*/


/*left border along 1st paragraph - same grey as border*/
