<div class="options">
    <h1>BitCoin Price App</h1>
    <input type="radio" name="currencyType" value="USD" id="usd" checked>
        <label for="usd">USD</label>
    <input type="radio" name="currencyType" value="GBP" id="gbp">
        <label for="gbp">GBP</label>
    <input type="radio" name="currencyType" value="EUR" id="eur">
        <label for="eur">EUR</label>
</div>